<!DOCTYPE html>
<html>
<head>
  <title>Dashboard Admin</title>
</head>
<body>
  <h2>Halo, <%= user.nama %> (Admin)</h2>

  <ul>
    <li><a href="/admin/kendaraan">Kelola Kendaraan</a></li>
    <li><a href="/admin/pengunjung">Kelola Pengunjung</a></li>
    <li><a href="/users/changepassword">Ganti Password</a></li>
    <li><a href="/auth/logout">Logout</a></li>
  </ul>
</body>
</html>
