<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/dashboard">Parkir App</a>
    <div>
      <% if (session && session.user) { %>
        <span class="text-white me-2">Hi, <%= session.user.nama %>!</span>
        <a href="/users/changepassword" class="btn btn-warning btn-sm">Ganti Password</a>
        <a href="/users/logout" class="btn btn-danger btn-sm">Logout</a>
      <% } %>
    </div>
  </div>
</nav>
