<h2>Tambah Pengunjung</h2>
<form method="POST" action="/admin/pengunjung/create">
  <input type="text" name="wajah" placeholder="Wajah"><br>
  <input type="text" name="pakaian" placeholder="Pakaian"><br>
  <select name="jenis_kelamin">
    <option value="Laki-laki">Laki-laki</option>
    <option value="Perempuan">Perempuan</option>
  </select><br>
  <input type="number" name="id_kendaraan" placeholder="ID Kendaraan"><br>
  <button type="submit">Simpan</button>
</form>
