<!DOCTYPE html>
<html>
<head>
  <title>Dashboard Superadmin</title>
</head>
<body>
  <h2>Halo, <%= user.nama %> (Superadmin)</h2>

  <ul>
    <li><a href="/superadmin/users">Kelola Users</a></li>
    <li><a href="/superadmin/tarif">Kelola Tarif</a></li>
    <li><a href="/superadmin/kendaraan">Kelola Kendaraan</a></li>
    <li><a href="/superadmin/pengunjung">Kelola Pengunjung</a></li>
    <li><a href="/users/changepassword">Ganti Password</a></li>
    <li><a href="/auth/logout">Logout</a></li>
  </ul>
</body>
</html>
